@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body,
main {
  /* color: var(--foreground); */
  /* background: var(--background); */
  /* background-image: linear-gradient(
    to top,
    #111 45%,
    rgba(85, 0, 255, 0.878) 49%,
    #111 55%
  ); */
  height: 100vh;
  /* background-image: url(../public/purpleLines.gif); */
  background-image: url(../public/starsGif.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: center;
  font-family: Arial, Helvetica, sans-serif;

  @apply p-2 md:p-4;
}

@layer components {
  .chat-container {
    @apply relative my-2 mb-6 px-2 border border-dashed border-gray-300   w-full  h-[95vh] bg-white shadow-md rounded-lg md:min-h-[90h] md:mt-8 md:px-4 md:max-w-[80%] md:mx-auto lg:mx-auto lg:max-w-[50%];
    background-image: url(../public/chatImgBlack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .chat-input-container {
    @apply bg-white py-4 w-full absolute left-0 right-0 bottom-0 flex items-center;
  }

  .chats-wrapper {
    @apply h-[90%] w-full overflow-y-scroll;
  }

  .chats-wrapper::-webkit-scrollbar {
    display: none;
  }

  .chats-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .chat-input {
    width: 100%;
    padding-inline: 0.5rem;
  }

  .input-field {
    @apply w-full pr-3 p-2 border border-purple-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-300;
  }

  .btn {
    @apply bg-purple-600 text-white px-2 py-1 rounded-md hover:bg-purple-700 focus:ring-2 focus:ring-purple-300;
  }

  .btn-secondary {
    @apply border text-[14px] border-purple-600 bg-[transparent] text-white hover:bg-purple-700 hover:text-white focus:ring-2 focus:ring-purple-300;
  }

  .output-box {
    @apply bg-gray-700 text-white p-3 rounded-md pr-6 w-full   mt-10;

    border-radius: 0rem 1rem 1rem 1rem;
  }

  .output-box-reply {
    @apply bg-gray-100;
    border-radius: 1rem 0rem 1rem 1rem;
  }
}
