@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body,
main {
  /* color: var(--foreground); */
  /* background: var(--background); */
  /* background-image: linear-gradient(
    to top,
    #111 45%,
    rgba(85, 0, 255, 0.878) 49%,
    #111 55%
  ); */
  height: 100vh;
  background-image: url(../public/purpleLines.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: center;
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .chat-container {
    @apply relative mt-8 mx-auto overflow-y-scroll  max-w-[80%] min-h-[90vh] bg-white shadow-md rounded-lg p-4;
  }

  .chat-input {
    position: absolute;
    bottom: 1rem;
    width: 95%;
  }

  .input-field {
    @apply w-full p-1 border border-purple-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-300;
  }

  .btn {
    @apply bg-purple-600 text-white px-2 py-1 rounded-md hover:bg-purple-700 focus:ring-2 focus:ring-purple-300;
  }

  .btn-secondary {
    @apply border text-[14px] border-purple-600 bg-[transparent] text-black hover:bg-purple-700 hover:text-white focus:ring-2 focus:ring-purple-300;
  }

  .output-box {
    @apply bg-purple-200 p-3 rounded-md pr-6 text-gray-800 mt-10;

    border-radius: 0rem 1rem 1rem 1rem;
  }

  .output-box-reply {
    border-radius: 1rem 0rem 1rem 1rem;
  }
}
